.submit-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(177, 177, 177);
    padding: 6px 16px;
    margin: 5px;
    color: rgb(237, 233, 245);   /* blanc cassé légèrement violacé */
    cursor: pointer;
    background-color: rgb(139, 21, 56);   /* bordeaux profond */}

.submit-btn:hover{
    box-shadow: 0 6px 25px rgb(139, 21, 56);
}
input{
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;   /* augmente cette valeur pour que tout rentre */
    margin: 0 auto;   /* centre horizontalement un élément avec une largeur définie */

}