.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.search-container input {
    border-radius: 8px;
    padding: 8px 12px;
    border: 1px solid rgb(80, 70, 100);
    background-color: rgb(24, 19, 36);
    color: rgb(237, 233, 245);
}

.search-container button {
    border: none;
    border-radius: 5px;
    background-color: rgb(139, 21, 56);
    color: rgb(237, 233, 245);
    padding: 6px 16px;
    cursor: pointer;
}

.search-container button:hover {
    box-shadow: 0 6px 25px rgb(139, 21, 56);

}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.search-result-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    color: rgb(237, 233, 245);
}

.search-result-card h3,
.search-result-card h4 {
    color: rgb(237, 233, 245);
    margin: 4px 0;
    text-align: center;
}

.add-btn{
    border: none;
    border-radius: 5px;
    background-color: rgb(139, 21, 56);
    color: rgb(237, 233, 245);
    padding: 6px 16px;
    cursor: pointer;
}
.add-btn:hover{
    box-shadow: 0 6px 25px rgb(139, 21, 56);
}